/* Generic styles */

html {
	font-family: sans-serif;
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

body {
	margin: 0;
	font-family: 'Catamaran', sans-serif;
	line-height: 1.6;
	min-height: 100vh;
	/* 100 viewport height */
	background: blue;
}


/* Photo by Unsplash */

.hero {
	background: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80") center;
	background-size: cover;
	padding: 4rem 2rem;
}


.hero {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-row: repeat(2, 1fr);
	height: 100vh;
}


/* you can start to use your color palettes here for transparent background in rgba*/

.inner-hero {
	grid-column: 2;
}

.inner-hero>h1 {
	color: white;
	font-size: 4rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}


/* you can start to use your color palettes here or pick a color from the background using the eyedropper tool in Firefox */

.subhead {
	color: #C78FAC;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
}


/* grids */

.inner-hero {
	background: rgba(0, 0, 10, 0.6);
	padding: 2rem;
	border-radius: 0.5rem;
}

.start {
	color: white;
	font-size: 1.2rem;
	font-weight: 400;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 4em;
	text-transform: uppercase;
}

.start a {
	color: #C78FAC;
	text-decoration: none;
	border: 1px solid rgba(199, 143, 172, 1);
	padding: 10px;
}

.start a:hover {
	color: #F8BF75;
}

@media (min-width: 600px) {
	.inner-hero {
		grid-column: 3;
	}
}

@media (min-width: 1000px) {
	.inner-hero {
		grid-column: 1;
	}
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;
	font-weight: 300;
}

.logo a {
	color: #00060D;
}

.logo {
	padding-top: 15px;
	padding-bottom: 15px;
}


/* get rid of bullets on list and make text uppercase */

.logo,
.main-nav {
	list-style: none;
	text-transform: uppercase;
}


/* get rid of underline on links */

.logo a,
.main-nav a {
	text-decoration: none;
	letter-spacing: 0.45rem;
}

.logo a:hover {
	color: #F8BF75;
}


/* make main nav flex and make it vertical */

.main-nav {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main-nav a {
	display: block;
	padding: 1em;
	color: #C78FAC;
}

.main-nav a:hover {
	background: #FFE2DE;
}

.main-nav a {
	text-align: center;
	padding: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-nav li:last-of-type a {
	border-bottom: none;
}

@media only screen and (min-width: 35em) {
	body {
		background-color: purple;
	}
	/* change flex direction to horizontal and space things out */
	.main-nav {
		flex-direction: row;
		justify-content: space-around;
	}
	/* remove borders on top and bottom */
	.main-nav a {
		border-top: 0;
		border-bottom: 0;
	}
}


/* Desktop Styles */

@media only screen and (min-width: 60em) {
	body {
		background-color: orange;
	}
	.logo {
		margin-left: 20px;
	}
	/* put logo and main nav on same line */
	.flex-container {
		flex-direction: row;
	}
	/* move the list to the right side of the browser */
	.main-nav {
		justify-content: flex-end;
	}
	/* add some padding to give the main nav some breathing room */
	.main-nav a {
		padding: 1em;
	}
}


/* make the Section class cards here.  */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


/* make the card flex. The default is row so change flex direction to vertical. */

.card {
	background-color: white;
	display: flex;
	flex-direction: column;
	min-width: 250px;
	max-width: 350px;
	border: 1px solid grey;
	border-radius: 0.5em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 10px;
	position: relative;
	top: 0;
}

.card:hover {
	transition: all 0.1s ease-in;
	top: -2px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.cardphoto {
	max-height: 250 px;
	overflow: hidden;
}

.cardarticle {
	padding: 2.5rem;
	flex-grow: 1;
}


/* typography */

.cardH1 {
	font-size: 2rem;
	margin: 0;
	color: gray;
}

.card p {
	font-size: 1rem;
	line-height: 1.5;
}

.card footer {
	font-size: 1.2rem;
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

article {
	background: white;
	padding: 1rem;
}

h1 {
	font-size: 2rem;
}

article>p {
	line-height: 1.3;
}

.columns {
  background-color: #fefefe;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding-top: 2em;
  justify-content: center;
  align-content: center;
}

.columns img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 600px;
  margin: 0 auto;
}


/* media queries */

@media (min-width: 800px) {
	.columns {
		background: blue;
		grid-template-columns: repeat(2, 1fr);
	}
	.image.one {
		grid-column: 1;
		grid-row: 1;
	}
	.text.one {}
	.image.two {
		grid-column: 2;
		grid-row: 2;
	}
	.text.two {}
	.image.three {}
	.text.three {}
}

@media (min-width: 1200px) {
	.columns {
		background: red;
        max-width: 1200px;
        margin: 2em auto;
		grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
	}
	.image.one {
	}
	.text.one {
	}
	.image.two {
	}
	.text.two {
	}
	.image.three {
	}
	.text.three {
	}
}
