html {
    background: #e6e9e9;
}

body {
    background: #FFE6D4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1{
    color: #80736A;
    font-family: sans-serif;
    font-size: 2.5em;
    text-align: center;
    
}

h2{
    color:#3D3733;
    font-size: 1.2em;
    text-align: center;
    margin-top: -1.5em;
}

h3{
    color: #80471D;
    font-size: 1.5em;
    font-family:  serif;
    margin: 1em 0 -0.5em 0;
}

h4{
    font-family:  sans-serif;
    margin-bottom: -1em;
    margin-top: -0.5em;
    
}

ul{
    color:#3D3733;
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
    font-size: 0.9em;
    margin-left: 1.5em;
    margin-right: 1.8em;
}

p.prices
{
    color: #CA471D;
    margin-top: -1em;
    font-weight: bold;
}


}