body{
    background: #F3EBDF;
    margin: 0;
}

img {
    width: 100%;
}

a{
    text-decoration: none;
    color: #472D13;
}

a:active {
    color: #F56159;
}

h1, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    margin: 1em 0;
    text-transform: uppercase;
    font-size: 1.3em;
}

h4{
    margin-top: 0.3em;
    font-size: 0.9em;
}

p{
    text-align: center;
    margin: 0;
}

p.price{
    margin-top: 0.3em;
    text-align: center;
    font-weight: bold;
    color: #663E1C;
}

p.phone{
    margin: 0.5em 0 1em;
}

.menuitems p{
    text-align: center;
}

div.headercontent{
    box-shadow: 0 0.1em 0.1em #A6A6A6;
    background-color: #FFFFFF;
    margin: 0 auto 1em;
}

.headercontent img{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainmenu ul, .menuitems ul, .contactus ul, .services ul{
    list-style-type: none;
    margin: 0 auto 1em;
    padding: 0 0.2em;
}

.mainmenu li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding:  0.5em 0.5em;
    text-transform: uppercase;
}

.menuitems img{
    box-shadow: 0 0.1em 0.4em #A6A6A6;
}

.menuitems h5{
    margin-top: 0;
    margin-bottom: 1.5em;
}

.menuitems li{
    width: 45%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding: 0 0.5em;
}

.servicesmenu li{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.servicesmenu img{
    width: 50%;
    display: block;
    margin: 1em auto 0;
}

.contactus img, .contactus li{
    width: 75%;
    display: block;
    margin: 0 auto 2em;
}

.contactus img{
    background-color: #FFFFFF;
}

.contactus li{
    padding: 0 0.5em 1em;
    border-bottom-style: solid;
    border-top-style: solid;
    border-radius: 1em;
    border-color: #663E1C;
}

.contactus h3, .servicesmenu h3{
    margin: 0.3em 0;
}

footer{
    padding: 0.5em 0;
}

div.footercontent{
    margin: 1em auto 0;
    background-color: #663E1C;
}

.footercontent ul{
    list-style-type: none;
    margin: 1em auto 0;
    padding: 0 3em;
}

.footercontent li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 1em;
    text-transform: lowercase;
    font-size: 0.8em;
}

.footercontent a, h6{
    color: #FFFFFF;
}

.menuitems h1, h5{
    clear:both;
}
