body{
    background: #F3EBDF;
    margin: auto;
}

img {
    width: 100%;
}

a{
    text-decoration: none;
    color: #472D13;
}

a:active {
    color: #F56159;
}

h1, h3{
    margin: 0;
}

p{
    margin: 0;
}

.headercontent{
    box-shadow: 0 0.1em 0.1em #A6A6A6;
    border-top: 1px solid rgb (0,0,0);
    background-color: #FFFFFF;
}

.headercontent img{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainmenu ul{
    list-style-type: none;
}

.mainmenu li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    text-transform: uppercase;
}

div.menuitems{
    max-width:  60em;
    margin: auto;
    border-top: 1px solid rgb (0,0,0);
}

.menuitems img{
    box-shadow: 0 0.1em 0.4em #A6A6A6;
}

.menuitems h1, h5, h6{
    text-align: center;
}

.menuitems ul{
    list-style-type: none;
}

.menuitems li{
        width:  40%;
        padding: 0;
        display: inline-block;
        margin: 2em 1em;
        border-top: 1px solid rgb (0,0,0);
}

.footercontent ul{
    list-style-type: none;
}

.footercontent li{
    float: left;
    margin: 1.5em 1em;
    text-transform: uppercase;
}

.menuitems h1, h5, footer{
    clear:both;
}
