body{
    background: #F4FDFF;
}
img {width: 100%; }

a{
    text-decoration: none;
}

.headercontent img{
    width: 30%;
    
}

.mainmenu ul{
    list-style-type: none;
}

.mainmenu li{
    float: left;
    margin-right: 2em;
    text-transform: uppercase;
}
