/*CSS DOCUMENT*/

body {
    background: #E5D9CC;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

img {
    width: 100%;
}

h1{
    color: #806B2F;
    font-family: Serif;
    font-size: 2.5em;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 1.2em 0 -0.2em 0;
    
}

h2{
    color: #0D0D0D;
    font-size: 1.8em;
    font-family: Serif;
    letter-spacing: 0.51em;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 2.8em;
}

h3{
    color: #1F4C69;
    font-size: 1.2em;
    font-family: serif;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    margin: 1.5em 2.5em 0.5em 2.5em;
}

h6{
    color: #732210;
    text-align: center;
    margin-top: 4em;
}

p{
    color: #0D0D0D;
    font-family: serif;
    font-size: 1em;
    letter-spacing: 0.01em;
    margin: 1em 2em 1em 2em;
}

.ingredients li{
    margin: 0.25em;
}

.directions li{
    margin: 0.25em;
}

ul{
    margin: 0 4em 1.5em 4em;
}

ol{
    margin: 0 4em 1.5em 4em;
}